.card{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

    >.titulo{
        font-weight: bold;
        }.foto{
            width: 70vw;
            height: 30vh;
            box-shadow: 5px 5px 15px 5px rgb(133, 84, 247);
            border-radius: 15px;
    }
}
