@import '../../Sass/mixins';


.wrapper{
    @include flex-column-center();
    >form{
        align-items: flex-start;
        >input{
            margin:10px;
            align-items:flex-start;
            flex-wrap: nowrap;

        }

    }


}